@import url(https://fonts.googleapis.com/css?family=Nunito+Sans);

html {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    font-family: "Nunito Sans";
    font-size: 1em;
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: 1rem;
    font-weight: var(--font-medium);
    position: relative;
    overflow: hidden;
    transition: .5s
}

.button {
    text-decoration: none;
    color: aliceblue;
    width: 50%;
    text-align: center;
    top: 20px;
    margin-left: 10px;
}

.button:hover {
    text-decoration: none;
    color: aliceblue
}

ul {
    list-style-type: none;
    padding-inline-start: 35px
}

svg {
    width: 100%;
    visibility: hidden
}

h1 {
    font-size: 7.5em;
    margin: 15px 0;
    font-weight: 700
}

h2 {
    font-weight: 700
}

.hamburger-menu {
    position: absolute;
    top: 0;
    left: 0;
    padding: 35px;
    z-index: 2
}

.hamburger-menu button {
    position: relative;
    width: 30px;
    height: 22px;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer
}

.hamburger-menu button span {
    position: absolute;
    height: 3px;
    background: #000;
    width: 100%;
    left: 0;
    top: 0;
    transition: 0.1s ease-in
}

.hamburger-menu button span:nth-child(2) {
    top: 9px
}

.hamburger-menu button span:nth-child(3) {
    top: 18px
}

.hamburger-menu [data-state="open"] span:first-child {
    transform: rotate(45deg);
    top: 10px
}

.hamburger-menu [data-state="open"] span:nth-child(2) {
    width: 0%;
    opacity: 0
}

.hamburger-menu [data-state="open"] span:nth-child(3) {
    transform: rotate(-45deg);
    top: 10px
}

@media screen and (max-width:768px) {
    .container {
        margin-top: 70px;
        margin-bottom: 70px
    }
}
