#theme-toggle {
    cursor: pointer;
    border: 0;
    opacity: .8;
    border-radius: 50%;
    position: relative;
    isolation: isolate;
    margin-right: 25px;
    background: none;
}

#theme-toggle::before {
    content: "";
    position: absolute;
    inset: 0;
    background: hsl(0 0% 50% / .2);
    border-radius: inherit;
    transform: scale(0);
    opacity: 0;
    z-index: -1
}

.light-theme #theme-toggle::before {
    animation: pulseToLight 650ms ease-out
}

.dark-theme #theme-toggle::before {
    animation: pulseToDark 650ms ease-out
}

#theme-toggle::after {
    position: absolute;
    width: max-content;
    font-size: 1.5rem;
    left: 0;
    right: 0;
    top: 95%;
    margin: 0 auto;
    padding: .5em 1em;
    border-radius: .125em;
    opacity: 0;
    transform: scale(0);
    transform-origin: top;
    transition: transform 0ms linear 100ms, opacity 100ms linear
}

#theme-toggle:hover,
#theme-toggle:focus {
    outline: 0;
    opacity: 1;
    background: hsl(0 0% 50% / .15)
}

#theme-toggle:hover::after,
#theme-toggle:focus-visible::after {
    opacity: .7;
    transform: scale(1);
    transition: transform 70ms linear, opacity 70ms linear
}

.toggle-circle {
    transition: transform 500ms ease-out
}

.light-theme .toggle-circle {
    transform: translateX(-15%)
}

.toggle-sun {
    transform-origin: center center;
    transition: transform 750ms cubic-bezier(.11, .14, .29, 1.32)
}

.light-theme .toggle-sun {
    transform: rotate(0.5turn)
}

@keyframes pulseToLight {
    0% {
        transform: scale(0);
        opacity: .5
    }

    10% {
        transform: scale(1)
    }

    75% {
        opacity: 1
    }

    100% {
        opacity: 0;
        transform: scale(1)
    }
}

@keyframes pulseToDark {
    0% {
        transform: scale(0);
        opacity: .5
    }

    10% {
        transform: scale(1)
    }

    75% {
        opacity: 1
    }

    100% {
        opacity: 0;
        transform: scale(1)
    }
}